@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@model CarViewModel

@if (Model != null && Model.Cars.Count > 0)
{

    <div class="container">
        <div class="row">
            @foreach (var car in Model.Cars)
            {
                <div class="col-md-4 mb-4">
                    <a asp-action="Details" asp-route-id="@car.Id" class="card-link">
                        <div class="card shadow-sm">
                            <img src="@car.PictureUrl.Replace("wwwroot\\","")" class="card-img-top" style="width:200px; height:auto;" alt="Car Image">
                            @car.PictureUrl
                            <div class="card-body">
                                <h5 class="card-title">@car.Make @car.Model</h5>
                                <p class="card-text"><strong>Year: </strong>@car.ReleaseYear</p>
                                <p class="card-text"><strong>Price: </strong>£@car.Price</p>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
}


<div asp-validation-summary="All"></div>

@if(User.IsInRole("Admin"))
{
    <h3>Add a Car</h3>
    <form asp-action="Index" method="post" enctype="multipart/form-data">

        <label>Make:</label>
        <input asp-for="NewCar.Make" class="form-control" required />
        <label>Model:</label>
        <input asp-for="NewCar.Model" class="form-control" required />
        <label>Year of Release:</label>
        <input asp-for="NewCar.ReleaseYear" class="form-control" required />
        <label>Price:</label>
        <input asp-for="NewCar.Price" class="form-control" required />
        <label>Description:</label>
        <input asp-for="NewCar.Description" class="form-control" required />
        <input type="file" name="file" required/>
        <button class="btn-primary">Add</button>
    </form>
}